{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create New Post{% endblock title %}

{% block content %}
<div class="container py-5">
    <div class="card shadow-lg border-0 rounded-4">
        
        <!-- Title with background color -->
        <div class="card-header bg-primary text-white text-center py-3 rounded-top-4">
            <h2 class="mb-0 fw-bold">Create a New Post</h2>
        </div>

        <div class="card-body p-4">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary px-4">Publish</button>


                    <a href="{% url 'home' %}" class="btn btn-outline-danger px-4">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

